name: ATHM

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./athm
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --all-targets --all-features
    - name: Run tests
      run: cargo test --verbose
    - name: Check test vectors
      run: cargo run --features=test-vectors --bin check-test-vectors test_vectors.json
